.nav {
  height: 40px;
  width: 100%;
  background-color: white;
  //position: relative;
  //margin-bottom: 20px;
  margin-bottom: 5px;

  position: sticky;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 5;
}

.nav::after {
  background-color: black;
  opacity: 1;
  height: 1px;
  position: absolute;
  content: "";
  left: 15px;
  right: 15px;
  bottom: 0;
}

.nav > .nav-header {
  display: inline;
  user-select: none;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 20px;
  color: #000;
  padding: 13px 10px 10px 14px;
  font-family: "Nexa Rust Sans", Fallback, sans-serif;
}
.nav-title a {
  display: inline-block;
  color: black;
  text-decoration: none;
  font-weight: 600;
  font-family: Helvetica;
  font-size: 110%;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 10px 10px 10px 10px;
  text-decoration: none;
  color: black;
  font-size: 90%;
}

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 1);
  border-radius: 5px;
  color: white;
}

.nav > #nav-check {
  display: none;
}

@media (max-width: 600px) {
  .nav::after {
    right: 50px;
  }

  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 40px;
    height: 40px;
    padding: 0;
    padding-top: 6px;
    padding-bottom: 0;
    margin-top: 7px;
    margin-right: 3px;
  }
  /*  .nav > .nav-btn > label:hover,
  .nav #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.1);
  }
  .nav > .nav-btn > label:hover + .nav-btn > label > span {
    border-top: 2px solid white;
    backdrop-filter: invert(1);
  }
  */
  .nav > .nav-btn > label:hover ~ .nav-links {
    background-color: rgba(255, 255, 255, 0.9);
  }

  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #000;
    margin: 0 auto;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: rgba(255 255 255 / 96%);
    height: 0px;
    //transition: all 0.3s ease-in;
    overflow-x: hidden;
    overflow-y: hidden;
    top: 40px;
    left: 0px;
    padding-top: 5px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 40px);
    overflow-y: auto;
  }
}
