* {
  margin: 0;
  padding: 0;
}
:root {
  --primary-color: #007bff;
  --secondary-color: #6c757d;
}
body {
  height: auto;
  overflow-x: hidden;
  background-color: rgb(77, 74, 74);
}
.App {
  font-family: sans-serif;
}
.image,
.button {
  width: 50%;
  height: 50%;
}

h1 {
  color: pink;
  text-align: center;
  //padding-top: 50px;
  font-weight: bold;
}
h2 {
  color: white;
}
p {
  color: white;
}
