* {
  margin: 0;
  padding: 0;
}
:root {
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --white: #ffffff;
}

body {
  height: auto;
  overflow-x: hidden;
  //background-color: #1d1d1f;
  background-color: white;
}
.App {
  font-family: sans-serif;
}
.image,
.button {
  width: 50%;
  height: 50%;
}

h1 {
  color: black;
  text-align: center;
  //padding-top: 50px;
  padding-bottom: 8px;
  font-weight: bold;
  font-family: Fallback, sans-serif;
}
h2,
h3,
p {
  color: black;
}

.album-image {
  margin-top: 10px;
}

.homePage p,
.homePage {
  margin-left: 15px;
}

.homePage h2 {
  margin-left: 10px;
}
