.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #333;
  color: #fff;
}

.navbar-logo {
  font-size: 1.5rem;
}

.navbar-links {
  display: flex;
  flex-direction: column; /* Ändrad riktning för menyn till vertikal */
  gap: 20px;
}

.navbar-links.active {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #333;
  padding: 20px;
}

.menu-item {
  color: #fff;
  text-decoration: none;
}

.menu-item:hover {
  background-color: #555;
}

.navbar-toggle {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5px 0;
}

.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.active .bar:nth-child(2) {
  opacity: 0;
}

.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

@media screen and (max-width: 768px) {
  .navbar-links {
    display: none;
  }

  .navbar-links.active {
    display: flex;
    flex-direction: column;
  }

  .navbar-toggle {
    display: block;
  }
}
