footer {
  //position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: gray;
  color: black;
  padding: 10px;
  //text-align: center;
  margin-top: 20px;
  border-top: 3px solid gray;
  padding: 50px 0;
}

footer p {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.footer::before {
  z-index: auto;
  content: "footer effect";
  position: absolute;
  //top: -37px;
  left: -25%;
  width: 200%;
  height: 40px;
  box-shadow: 0 0 30px rgba(255, 0, 0, 0.2);
}
